---
import { Header } from "mee-components";
import { header, meeFoundation } from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";
import { DocsComponent, Breadcrumbs } from "mee-components";
const data = {
  users: {
    enabled: true,
    link: "/docs/users/private-advertising",
  },
  providers: {
    enabled: true,
    link: "/docs/providers/private-advertising",
  },
  developers: {
    enabled: true,
    link: "/docs/developers/private-advertising",
  },
};
---

<Layout title="Docs">
  <main class="">
    <Header header={header} activePage="docs" location="Private Advertising" />
    <article
      class="relative mt-27 flex h-full min-h-screen w-screen flex-col items-center gap-4 overflow-hidden pt-16"
    >
      <Breadcrumbs
        className="hidden md:flex"
        breadcrumbs={[
          { title: "Projects", link: `${meeFoundation}projects/` },
          { title: "Private Advertising", link: `/` },
          { title: "Docs" },
        ]}
      />
      <DocsComponent data={data} title="Private Advertising Docs" />
    </article>
  </main>
</Layout>
